<h1>Pins</h1>
<div id="container">
  
  <br>
  <br>
  <br>
  <% @pins.each do |pin| %>
    <div class="items" style="width:25%">
      <div class="thumbnail">
          <p><%= pin.name %></p>
          <%= image_tag(pin.photo, :class => 'img-responsive') %>
          <p><%= pin.description %></p>
          <div clas="buttons" style="margin-top: 10px; margin-bottom: 10px">
            <p><%= link_to 'Show', pin, :class => 'btn' %></p>
            <p><%= link_to 'Edit', edit_pin_path(pin), :class => 'btn' %></p>
            <% if user_signed_in? %>
            <p><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %></p>
            <% end %>
        </div>
      </div>
           
    </div>
      <% end %>
        <br>
    <% if user_signed_in? %>
      <p><%= link_to 'Nuevo Pin', new_pin_path %>
    <% end %>
      </p>
</div>

<script type="text/javascript">
  $(window).load(function(){
    $('.grid').masonry({
    // options
    itemSelector: '.grid-item',
    columnWidth: 200
    });
  })
</script>